# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Текст “Explore Our Upcoming Workshop Schedule” є заголовком секції.
Секція містить малу описову частину.
У секції знаходиться перелік карток з графіками найближчих воркшопів, який необхідно реалізувати як список елементів за допомогою
та розмістити через технологію flex-box.
Кожна картка складається з: фото та заголовка воркшопу, локації, дати та часу, кнопки "Register".
Зображення потрібно реалізувати як контенті.
Локація складається з іконки та посилання на неї на карті.
Іконку локації потрібно реалізувати у форматі svg.
"Register" є якірним посиланням, яке веде до секції "Register".
https://github.com/Olesiap/wild_sketch/pulls?q=is%3Apr+state%3Aopen+author%3ASvitlana-Gurenko

https://github.com/Olesiap/wild_sketch/issues/1