<!-- Events section -->
<section class="event" id="events">
  <div class="container">
    <h2 class="section-title event-title">
      Explore Our Upcoming Workshop Schedule
    </h2>
    <p class="event-description">
      Join us for immersive plein air drawing workshops. Experience nature while
      honing your artistic skills.
    </p>
    <ul class="event-list">
      <li class="event-item">
        <img
          class="event-pic"
          src="/img/events/event1.jpg"
          srcset="/img/events/event1.jpg 1x, /img/events/event1@2x.jpg 2x"
          alt="Morning Light Sketching"
          width="311"
          height="225"
        />
        <div class="event-info">
          <a
            class="event-location"
            href="https://www.google.com/maps/search/?api=1&amp;query=Central+Park+Meadow"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="event-icon-svg" width="24" height="24">
              <use href="/img/sprite.svg#map"></use>
            </svg>
            Central Park Meadow
          </a>
          <p class="event-date">09 Jun 8:00 am</p>
        </div>
        <h3 class="event-name">Morning Light Sketching</h3>
        <a class="btn btn-secondary event-btn" href="#register">Register</a>
      </li>
      <li class="event-item">
        <img
          class="event-pic"
          src="/img/events/event2.jpg"
          srcset="/img/events/event2.jpg 1x, /img/events/event2@2x.jpg 2x"
          alt="Floral Focus: Painting Wildflowers"
          width="311"
          height="225"
        />
        <div class="event-info">
          <a
            class="event-location"
            href="https://www.google.com/maps/search/?api=1&amp;query=Riverside+Botanical+Trail"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="event-icon-svg" width="24" height="24">
              <use href="/img/sprite.svg#map"></use>
            </svg>
            Riverside Botanical Trail
          </a>
          <p class="event-date">10 Jun 5:00 pm</p>
        </div>
        <h3 class="event-name">Floral Focus: Painting Wildflowers</h3>
        <a class="btn btn-secondary event-btn" href="#register">Register</a>
      </li>
      <li class="event-item">
        <img
          class="event-pic"
          src="/img/events/event3.jpg"
          srcset="/img/events/event3.jpg 1x, /img/events/event3@2x.jpg 2x"
          alt="Color & Composition Basics"
          width="311"
          height="225"
        />
        <div class="event-info">
          <a
            class="event-location"
            href="https://www.google.com/maps/search/?api=1&amp;query=Forest+Edge+Retreat"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="event-icon-svg" width="24" height="24">
              <use href="/img/sprite.svg#map"></use>
            </svg>
            Forest Edge Retreat
          </a>
          <p class="event-date">11 Jun 7:00 pm</p>
        </div>
        <h3 class="event-name">Color &amp; Composition Basics</h3>
        <a class="btn btn-secondary event-btn" href="#register">Register</a>
      </li>
      <li class="event-item">
        <img
          class="event-pic"
          src="/img/events/event4.jpg"
          srcset="/img/events/event4.jpg 1x, /img/events/event4@2x.jpg 2x"
          alt="Drawing Stillness: Meditative Sketching"
          width="311"
          height="225"
        />
        <div class="event-info">
          <a
            class="event-location"
            href="https://www.google.com/maps/search/?api=1&amp;query=Willow+Grove+Field"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="event-icon-svg" width="24" height="24">
              <use href="/img/sprite.svg#map"></use>
            </svg>
            Willow Grove Field
          </a>
          <p class="event-date">14 Jun 8:00 pm</p>
        </div>
        <h3 class="event-name">Drawing Stillness: Meditative Sketching</h3>
        <a class="btn btn-secondary event-btn" href="#register">Register</a>
      </li>
      <li class="event-item">
        <img
          class="event-pic"
          src="/img/events/event5.jpg"
          srcset="/img/events/event5.jpg 1x, /img/events/event5@2x.jpg 2x"
          alt="Golden Hour Landscape Study"
          width="311"
          height="225"
        />
        <div class="event-info">
          <a
            class="event-location"
            href="https://www.google.com/maps/search/?api=1&amp;query=Sunset+Ridge+Hilltop"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="event-icon-svg" width="24" height="24">
              <use href="/img/sprite.svg#map"></use>
            </svg>
            Sunset Ridge Hilltop
          </a>
          <p class="event-date">15 Jun 8:00 pm</p>
        </div>
        <h3 class="event-name">Golden Hour Landscape Study</h3>
        <a class="btn btn-secondary event-btn" href="#register">Register</a>
      </li>
    </ul>
  </div>
</section>
