<section class="feedbacks" id="feedbacks">
  <div class="container">
    <h2 class="fb-title">Customer testimonials</h2>

    <ul class="fb-list">
      <li class="fb-item">
        <div class="fb-stars">
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
        </div>
        <p class="fb-text">
          “An unforgettable way to reconnect with nature and creativity. I came
          home with a full sketchbook and a peaceful mind.”
        </p>
        <p class="fb-author">Julia Nguyen</p>
      </li>
      <li class="fb-item">
        <div class="fb-stars">
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#star"></use>
          </svg>
        </div>
        <p class="fb-text">
          “WildSketch helped me rediscover my love for drawing. The instructors
          were kind, encouraging, and deeply inspiring.”
        </p>
        <p class="fb-author">Mark Leblanc</p>
      </li>
      <li class="fb-item">
        <div class="fb-stars">
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
        </div>
        <p class="fb-text">
          “Beautiful locations, great energy, and a supportive community. I’m
          not a professional artist, but I felt totally welcomed.”
        </p>
        <p class="fb-author">Sofia Mendes</p>
      </li>
      <li class="fb-item">
        <div class="fb-stars">
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#star"></use>
          </svg>
        </div>
        <p class="fb-text">
          “Sketching outdoors in the golden hour was magical. Highly recommend
          for anyone looking to slow down and create.”
        </p>
        <p class="fb-author">Daniel Ortiz</p>
      </li>
      <li class="fb-item">
        <div class="fb-stars">
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
        </div>
        <p class="fb-text">
          “The team made everything feel effortless and joyful. I learned so
          much and met wonderful people along the way.”
        </p>
        <p class="fb-author">Anika Shah</p>
      </li>
      <li class="fb-item">
        <div class="fb-stars">
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#blackstar"></use>
          </svg>
          <svg class="fb-icon" width="24" height="24">
            <use href="/img/sprite.svg#star"></use>
          </svg>
        </div>
        <p class="fb-text">
          “Such a wholesome and uplifting experience. WildSketch is now my go-to
          escape when I need a creative reset.”
        </p>
        <p class="fb-author">Thomas Becker</p>
      </li>
    </ul>
  </div>
</section>

