<!-- Gallery section -->
<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="section-title gallery-title">Artistic Showcase</h2>
    <p class="gallery-text">
      Explore the creativity captured in our workshops.
    </p>

    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            type="image/webp"
            srcset="/img/gallery/pic1.webp 1x, /img/gallery/pic1@2x.webp 2x"
          />
          <img
            class="gallery-img"
            src="/img/gallery/pic1.jpg"
            srcset="/img/gallery/pic1.jpg 1x, /img/gallery/pic1@2x.jpg 2x"
            alt="Painting of a mountain meadow with wildflowers and fir trees at dawn"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            type="image/webp"
            srcset="/img/gallery/pic2.webp 1x, /img/gallery/pic2@2x.webp 2x"
          />
          <img
            class="gallery-img"
            src="/img/gallery/pic2.jpg"
            srcset="/img/gallery/pic2.jpg 1x, /img/gallery/pic2@2x.jpg 2x"
            alt="Watercolor of a dark fir forest in front of misty blue mountains"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            type="image/webp"
            srcset="/img/gallery/pic3.webp 1x, /img/gallery/pic3@2x.webp 2x"
          />
          <img
            class="gallery-img"
            src="/img/gallery/pic3.jpg"
            srcset="/img/gallery/pic3.jpg 1x, /img/gallery/pic3@2x.jpg 2x"
            alt="Watercolor of tall green fir trees in a sunny forest clearing"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            type="image/webp"
            srcset="/img/gallery/pic4.webp 1x, /img/gallery/pic4@2x.webp 2x"
          />
          <img
            class="gallery-img"
            src="/img/gallery/pic4.jpg"
            srcset="/img/gallery/pic4.jpg 1x, /img/gallery/pic4@2x.jpg 2x"
            alt="Watercolor of green hills with a winding stream and a dirt path"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            type="image/webp"
            srcset="/img/gallery/pic5.webp 1x, /img/gallery/pic5@2x.webp 2x"
          />
          <img
            class="gallery-img"
            src="/img/gallery/pic5.jpg"
            srcset="/img/gallery/pic5.jpg 1x, /img/gallery/pic5@2x.jpg 2x"
            alt="Watercolor of a white flower with a ladybug above green leaves"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            type="image/webp"
            srcset="/img/gallery/pic6.webp 1x, /img/gallery/pic6@2x.webp 2x"
          />
          <img
            class="gallery-img"
            src="/img/gallery/pic6.jpg"
            srcset="/img/gallery/pic6.jpg 1x, /img/gallery/pic6@2x.jpg 2x"
            alt="Watercolor of a deer among pine trees on a rocky stream bank"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            type="image/webp"
            srcset="/img/gallery/pic7.webp 1x, /img/gallery/pic7@2x.webp 2x"
          />
          <img
            class="gallery-img"
            src="/img/gallery/pic7.jpg"
            srcset="/img/gallery/pic7.jpg 1x, /img/gallery/pic7@2x.jpg 2x"
            alt="Watercolor set of picnic items: a basket, candle, book, mushrooms and berries"
            loading="lazy"
            decoding="async"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
