<section class="hero" id="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">Unleash Your Creativity in Nature's Embrace</h1>
      <p class="hero-description">
        Join us for an inspiring plein air drawing workshop where art meets
        nature. Experience the joy of sketching outdoors while enhancing your
        skills in light and composition.
      </p>
      <div class="hero-btn-container">
        <button type="button" class="hero-btn-register">Register</button>
        <button type="button" class="hero-btn-learn-more">Learn More</button>
      </div>
    </div>
    <img
      class="hero-img"
      src="../img/hero/header.jpg"
      srcset="../img/hero/header.jpg   1x
              ../img/hero/header@2x.jpg 2x
      "
      alt="Hero Photo"
    />
  </div>
</section>
