<section class="register section" id="register">
  <div class="container">
    <div class="register-content">
      <h2 class="section-title register-title">Register</h2>
      <form class="register-form" name="review_form">
        <!-- Name -->
        <div class="register-form-field">
          <label class="register-form-label" for="user_name">Name*</label>
          <div class="register-form-wrapper">
            <input
              class="register-form-input"
              type="text"
              id="user_name"
              name="user_name"
              required
              pattern="^[a-zA-Z\s.]{5,64}$"
              placeholder="Emma"
              title="Name must contain 5 to 64 characters and use only letters, spaces, or periods."
            />
            <p class="register-form-error">
              Use 5–64 letters, spaces or periods
            </p>
          </div>
        </div>
        <!-- Email -->
        <div class="register-form-field">
          <label class="register-form-label" for="user_email">Email*</label>
          <div class="register-form-wrapper">
            <input
              class="register-form-input"
              type="email"
              id="user_email"
              name="user_email"
              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
              placeholder="hello@wildsketch.com"
              required
            />
            <p class="register-form-error">
              Please enter a valid email address.
            </p>
          </div>
        </div>
        <!-- Comment -->
        <label class="register-form-label" for="user_skills">
          Describe your skills
        </label>
        <textarea
          class="register-form-textarea"
          name="user_skills"
          id="user_skills"
          placeholder="Type your skills..."
          cols="4"
          maxlength="500"
        ></textarea>
        <!-- Button -->
        <button class="btn btn-primary register-send-btn" type="submit">
          Register
        </button>
      </form>
    </div>

    <div class="register-image-wrapper">
      <img
        class="register-image"
        src="/img/register/register.jpg"
        srcset="/img/register/register.jpg 1x, /img/register/register@2x.jpg 2x"
        alt="Person drawing outdoors"
        width="335"
        height="286"
      />
    </div>
  </div>
</section>
