<!-- Team section -->
<section class="team" id="team">
  <div class="container">
    <h2 class="section-title team-title">Our team</h2>

    <p class="team-description">
      Meet the passionate artists guiding your plein air journey.
    </p>

    <ul class="team-list">
      <li class="team-item">
        <img
          class="team-img"
          src="../img/team/emma.jpg"
          srcset="../img/team/emma.jpg 1x, ../img/team/emma.jpg 2x"
          alt="Emma Caldwell"
          width="152"
          height="152"
        />
        <div class="team-content">
          <h3 class="team-name">Emma Caldwell</h3>
          <p class="team-role">Lead Art Instructor</p>
        </div>
      </li>

      <li class="team-item">
        <img
          class="team-img"
          src="../img/team/lina.jpg"
          srcset="../img/team/lina.jpg 1x, ../img/team/lina.jpg 2x"
          alt="Lina Morales"
          width="152"
          height="152"
        />
        <div class="team-content">
          <h3 class="team-name">Lina Morales</h3>
          <p class="team-role">Creative Workshop Coordinator</p>
        </div>
      </li>

      <li class="team-item">
        <img
          class="team-img"
          src="../img/team/owen.jpg"
          srcset="../img/team/owen.jpg 1x, ../img/team/owen.jpg 2x"
          alt="Owen Fischer"
          width="152"
          height="152"
        />
        <div class="team-content">
          <h3 class="team-name">Owen Fischer</h3>
          <p class="team-role">Materials & Techniques Expert</p>
        </div>
      </li>

      <li class="team-item">
        <img
          class="team-img"
          src="../img/team/naomi.jpg"
          srcset="../img/team/naomi.jpg 1x, ../img/team/naomi.jpg 2x"
          alt="Naomi Lee"
          width="152"
          height="152"
        />
        <div class="team-content">
          <h3 class="team-name">Naomi Lee</h3>
          <p class="team-role">Mindfulness & Sketching Coach</p>
        </div>
      </li>

      <li class="team-item">
        <img
          class="team-img"
          src="../img/team/jack.jpg"
          srcset="../img/team/jack.jpg 1x, ../img/team/jack.jpg 2x"
          alt="Jack Turner"
          width="152"
          height="152"
        />
        <div class="team-content">
          <h3 class="team-name">Jack Turner</h3>
          <p class="team-role">Photographer & Visual Archivist</p>
        </div>
      </li>

      <li class="team-item">
        <img
          class="team-img"
          src="../img/team/ben.jpg"
          srcset="../img/team/ben.jpg 1x, ../img/team/ben.jpg 2x"
          alt="Ben Novak"
          width="152"
          height="152"
        />
        <div class="team-content">
          <h3 class="team-name">Ben Novak</h3>
          <p class="team-role">Outdoor Logistics Manager</p>
        </div>
      </li>
    </ul>
  </div>
</section>
