html {
  scroll-behavior: smooth;
}

h1,
.section-title {
  font-family: 'Caveat', sans-serif;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #0c0708;
}

h1 {
  font-size: 40px;
}

.section-title {
  margin: 0;
  font-size: 48px;
  text-align: center;
}

body {
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #0c0708;
  background: #faf6f3;
}

.section-description {
  margin: 24px 0 0;
  text-align: center;
}

/* Buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 10px 24px;
  border: 1px solid transparent;
  border-radius: 100px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #0c0708;
  white-space: nowrap;
}

.btn:hover,
.btn:focus {
  opacity: 0.5;
}

.btn:active {
  opacity: 0.7;
}

.btn:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.btn-primary {
  border-color: #ffb780;
  background-color: #ffb780;
}

.btn-secondary {
  border-color: rgba(12, 7, 8, 0.15);
  background-color: transparent;
}
