.benefits {
  padding: 40px 0;
}
.benefits-title {
  margin: 0 0 32px;
  font-family: 'Caveat', cursive;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.4px;
}
.benefits-list {
  margin: 0;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}
.benefits-item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.benefits-icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.benefits-item-title {
  margin: 0;
  font-family: 'Tajawal', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.24px;
  color: #0c0708;
}
.benefits-item-text {
  margin: 0;
  font-family: 'Tajawal', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  color: #0c0708;
}
.benefits-item-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.benefits-image {
  width: 335px;
  height: 317px;
  margin: 32px auto 0;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.benefits .container {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .benefits {
    padding: 40px 0;
  }

  .benefits .container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .benefits-content {
    width: 100%;
  }
  .benefits-image {
    width: 522px;
    height: 494px;
    margin-top: 0;
    align-self: center;
  }
}
@media (min-width: 1440px) {
  .benefits {
    padding: 112px 0;
  }
  .benefits .container {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-left: 64px;
    padding-right: 64px;
  }
  .benefits-image {
    order: -1;
    width: 616px;
    height: 586px;
    margin: 0;
  }
  .benefits-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 616px;
  }
  .benefits-title {
    margin-bottom: 0;
  }
}
