* {
  box-sizing: border-box;
}
.event {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  padding: 64px 20px;
  max-width: 375px;
}
.section {
}

.title {
  font-family: 'caveat';
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #0c0708;
}
p {
  font-family: 'tajawal';
  font-weight: 400;
  font-size: 18px;
}
.event-list {
  margin-top: 32px;
  margin-bottom: 8px;
}
.event-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 40px;
  border: 1px solid #dbdada;
  border-radius: 28px;
  padding: 12px;
}
.event-item:last-child {
  margin-bottom: 0;
}
.event-pic {
  width: 311px;
  height: 225px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 16px;
}
.event-info {
  font-family: 'tajawal';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;

  text-align: center;
  color: #0c0708;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}
.event-icon-svg {
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  margin-top: 16px;
  border: 1px solid rgba(12, 7, 8, 0.15);
  border-radius: 100px;
  padding: 8px 20px;
  width: 311px;
  height: 40px;
}
