.event {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  padding: 64px 20px;
}
.section {
}
.container {
}
.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #0c0708;
}
.event-list {
  margin-top: 32px;
}
.event-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
 
  border: 1px solid #dbdada;
  border-radius: 28px;
  padding: 12px;
}
.event-pic {
  
}
.event-info {
}
.event-icon-svg {
}
.btn {
}
