.feedbacks {
  padding: 64px 0;
}

.fb-title {
  margin-bottom: 32px;
}
@media only screen and (min-width: 1440px) {
  .fb-title {
    margin-bottom: 80px;
  }
}
.fb-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media only screen and (min-width: 768px) {
  .fb-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1440px) {
  .fb-list {
    gap: 32px;
  }
}
.fb-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid rgba(12, 7, 8, 0.15);
  border-radius: 16px;
  padding: 32px;

  background: #fff7f2;
}
@media only screen and (min-width: 768px) {
  .fb-item {
    width: calc((100% - 32px) / 2);
  }
}
@media only screen and (min-width: 1440px) {
  .fb-item {
    width: calc((100% - 32px * 2) / 3);
  }
}
.fb-stars {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.fb-star-item {
  display: flex;
}

.fb-author {
  font-weight: 700;
  font-size: 16px;

  margin-top: auto;
}
