.footer {
  background: #ffcca6;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.footer-ill {
}
.footer-navigation-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (min-width: 768px) {
  .footer-navigation-list {
    justify-content: space-between;
    flex-direction: row;
  }
}
.footer-navigation-item a:hover,
.footer-navigation-item a:focus {
  font-weight: 500;
}
.footer-information {
  font-size: 14px;
  padding: 32px 0;
  text-align: center;

  border-top: 1px solid rgba(12, 7, 8, 0.15);
  width: 311px;
  height: 0;
}
@media only screen and (min-width: 768px) {
  .footer-information {
    width: 704px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-information {
    width: 1312px;
  }
}
