.header {
  background-color: #faf6f3;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px 0 20px;
}

@media screen and (min-width: 768px) {
  .header-wrapper {
    padding: 7px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .header-wrapper {
    padding: 7px 64px;
  }
}

.register-wrapper {
  display: flex;
  align-items: center;
}

.register-link {
  font-weight: 500;
  font-size: 16px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 40px;
  border: 1px solid #ffb780;
  border-radius: 100px;
  background-color: #ffb780;
}

.mobile-menu-button {
  width: 48px;
  height: 48px;
  margin: auto;
  border-color: transparent;
  background-color: transparent;
}

.mobile-menu-button-icon {
  display: block;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}
.navigation {
  display: none;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    margin-left: auto;
    margin-right: 32px;
  }
}

.navigation-item {
  font-size: 16px;
}
