.hero {
  padding: 64px 0;
}

.hero-content {
  width: 100%;
  margin-bottom: 32px;
}
.hero-title {
  margin-bottom: 24px;
}

.hero-description {
  margin-bottom: 32px;
}

.hero-img {
  margin: 0 auto;
  max-width: 335px;
  width: 100%;
}

.hero-btn-register,
.hero-btn-learn-more {
  width: 100%;
}

.hero-btn-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: 80px 0;
  }

  .hero-img {
    max-width: 704px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 704px;
  }
  .hero-title {
    font-size: 56px;
    max-width: 601px;
  }

  .hero-btn-container {
    flex-direction: row;
    gap: 24px;
  }
  .hero-btn-register,
  .hero-btn-learn-more {
    width: 159px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    padding: 112px 0;
  }

  .hero .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .hero-title {
    max-width: none;
  }
  .hero-img {
    max-width: 857px;
  }
  .hero-content {
    max-width: 423px;
    margin-bottom: 0;
  }
  .hero-btn-register {
    width: 105px;
  }
  .hero-btn-learn-more {
    max-width: 128px;
  }
  .hero-btn-container {
    gap: 16px;
  }
}
